body {
  margin: 15px auto;
  border: 2px solid #00e1ff;
}

.floatleft {
  float:left;
}
.floatright {
  float:right;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
}

li.special_text {
  font-size: 30px;
  font-weight: 500;
}

li {
  display: inline;
  padding: 25px;
  border-left: 2px solid #61f231;
  line-height: 30px;
}

ul {
  padding: 15px;
  border-top: 2px solid #ff0000;
  border-bottom: 2px solid #ff00dd;
  height: 30px;
}

p {
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid black;
  line-height: 10px;
  margin: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
}

p span {
  background: white;
  padding:0 10px;
}

h1 {
  font-size: 95px;
  line-height: 120x;
  text-align: left;
  margin: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
}

#row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.flex_item {
  display: flex;
  align-items: center;
justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
  height: 650px;
  width: 800px;
  padding:80px;
  margin: 20px;
  background-color: rgb(160, 160, 160);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 2px solid black;
  margin-left: 80px;
  margin-right: 80px;
}

.footer a {
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.linkedin {
  color:rgb(0, 0, 0);
}

.contact {
  color: rgb(0, 0, 0);
}

.resume {
  color: rgb(0, 0, 0);
}

.copyright {
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
}